---
import BaseLayout from "../layouts/BaseLayout.astro";
import Member from "../components/Member.astro";

export let title = "Team"


/* Add Yourself to the array below to be displayed on the team page */
const teamMembers = [
    {name: "Takunda Madechangu", role: "", website: "https://taku.co.zw/", github: "https://github.com/takumade", linkedin: "", },
    {name: "Panashe Banhire", role: "Computer Engineer | Front-End Developer", website: "https://panban.netlify.app/", github: "", linkedin: "", },
    {name: "James Midzi", role: "Developer | Writer | Tutor | Polyglot ", website: "https://mrmidzi.netllify.app", github: "https://github.com/Psypher1", linkedin: "https://linkedin.com/in/jamesmidzi", twitter: "https://twitter.com/Psypher1" },
    {name: "Richson Simbabure", role: "Developer | Digital Marketing | Networking Engineer", website: "https://www.richson.co.zw/", github: "https://github.com/RSimmz98", linkedin: "", }
]
---

<BaseLayout {title} >
    <h1 class="text-3xl font-semibold text-blue-600 mb-8">Team</h1>

    <section class="grid sm:grid-cols-2 md:grid-cols-3 gap-4">
        {teamMembers.map((member) => (
            <article class="p-6 shadow-xl" >
                <h3 class="font-semibold text-blue-900">{member.name}</h3>
                <p class="text-[.8rem] text-gray-600 mb-4">{member?.role}</p>

                <div class="flex items-center gap-4 text-base text-blue-500">
                    <a href={member?.website} target="_blank" rel="noreferrer noopener">
                        <i class="fa-solid fa-globe"></i>
                    </a>
                    <a href={member?.github} target="_blank" rel="noreferrer noopener">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href={member?.linkedin} target="_blank" rel="noreferrer noopener">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a href={member?.twitter} target="_blank" rel="noreferrer noopener">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                 
                </div>
            </article>
        ))}
    </section>
</BaseLayout>