---
import { Icon } from 'astro-icon'
const {member} = Astro.props; 
---

<article class="p-6 shadow-xl" >
    <h3 class="font-semibold text-gray-900">{member.name}</h3>
    <p class="text-[.8rem] text-gray-600 mb-4">{member?.role}</p>

    <div class="flex items-center gap-3 text-base text-blue-500">
        <a href={member?.website} target="_blank" rel="noreferrer noopener">
            <Icon name="globe" class='h-5 w-5'/>
        </a>
        <a href={member?.github} target="_blank" rel="noreferrer noopener">
            <Icon name="github" class='h-5 w-5'/>
        </a>
        <a href={member?.linkedin} target="_blank" rel="noreferrer noopener">
            <Icon name="linkedin" class='h-5 w-5'/>
        </a>
        <a href={member?.twitter} target="_blank" rel="noreferrer noopener">
            <Icon name="twitter" class='h-5 w-5'/>
        </a>
     
    </div>
</article>